In [3]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv("employee_data.csv")

In [6]:
data.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3

In [9]:
import sqlite3
conn = sqlite3.connect("employee_data.db")
data.to_sql("employees", conn, if_exists="replace", index=False)
print("Data has been successfully written to the SQLite database.")
test_query = pd.read_sql("SELECT * FROM employees LIMIT 5;",conn)
print(test_query)
conn.close()

Data has been successfully written to the SQLite database.
   EmpID FirstName LastName  StartDate ExitDate                    Title  \
0   3427     Uriah  Bridges  20-Sep-19     None  Production Technician I
1   3428     Paula    Small  11-Feb-23     None  Production Technician I
2   3429    Edward     Buck  10-Dec-18     None       Area Sales Manager
3   3430   Michael  Riordan  21-Jun-21     None       Area Sales Manager
4   3431   Jasmine    Onque  29-Jun-19     None       Area Sales Manager

        Supervisor                        ADEmail BusinessUnit EmployeeStatus  \
0     Peter Oneill    uriah.bridges@bilearner.com         CCDR         Active
1  Renee Mccormick      paula.small@bilearner.com           EW         Active
2   Crystal Walker      edward.buck@bilearner.com           PL         Active
3   Rebekah Wright  michael.riordan@bilearner.com         CCDR         Active
4        Jason Kim    jasmine.onque@bilearner.com          TNS         Active

   ...              Division         DOB State JobFunctionDescription  \
0  ...  Finance & Accounting  07-10-1969    MA             Accounting
1  ...                Aerial  30-08-1965    MA                  Labor
2  ...         General - Sga  06-10-1991    MA              Assistant
3  ...  Finance & Accounting  04-04-1998    ND                  Clerk
4  ...         General - Con  29-08-1969    FL                Laborer

  GenderCode LocationCode  RaceDesc MaritalDesc Performance Score  \
0     Female        34904     White     Widowed       Fully Meets
1       Male         6593  Hispanic     Widowed       Fully Meets
2       Male         2330  Hispanic     Widowed       Fully Meets
3       Male        58782     Other      Single       Fully Meets
4     Female        33174     Other     Married       Fully Meets

  Current Employee Rating
0                       4
1                       3
2                       4
3                       2
4                       3

[5 rows x 26 columns]

In [10]:

conn = sqlite3.connect("employees.db")
cursor = conn.cursor()

# Get column names from the table
cursor.execute("PRAGMA table_info(employees);")
columns = [col[1] for col in cursor.fetchall()]

print(columns)

conn.close()

[]

In [17]:
conn = sqlite3.connect("employees.db")
data.to_sql("employees", conn, if_exists="replace", index=False)
print("CSV data written to SQLite database as 'employees' table.")

CSV data written to SQLite database as 'employees' table.

In [18]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables in DB:", cursor.fetchall())

Tables in DB: [('employees',)]

In [19]:
test_df = pd.read_sql("SELECT * FROM employees LIMIT 5;", conn)
print("\nFirst 5 rows from DB:")
print(test_df)

First 5 rows from DB:
   EmpID FirstName LastName  StartDate ExitDate                    Title  \
0   3427     Uriah  Bridges  20-Sep-19     None  Production Technician I
1   3428     Paula    Small  11-Feb-23     None  Production Technician I
2   3429    Edward     Buck  10-Dec-18     None       Area Sales Manager
3   3430   Michael  Riordan  21-Jun-21     None       Area Sales Manager
4   3431   Jasmine    Onque  29-Jun-19     None       Area Sales Manager

        Supervisor                        ADEmail BusinessUnit EmployeeStatus  \
0     Peter Oneill    uriah.bridges@bilearner.com         CCDR         Active
1  Renee Mccormick      paula.small@bilearner.com           EW         Active
2   Crystal Walker      edward.buck@bilearner.com           PL         Active
3   Rebekah Wright  michael.riordan@bilearner.com         CCDR         Active
4        Jason Kim    jasmine.onque@bilearner.com          TNS         Active

   ...              Division         DOB State JobFunctionDescription  \
0  ...  Finance & Accounting  07-10-1969    MA             Accounting
1  ...                Aerial  30-08-1965    MA                  Labor
2  ...         General - Sga  06-10-1991    MA              Assistant
3  ...  Finance & Accounting  04-04-1998    ND                  Clerk
4  ...         General - Con  29-08-1969    FL                Laborer

  GenderCode LocationCode  RaceDesc MaritalDesc Performance Score  \
0     Female        34904     White     Widowed       Fully Meets
1       Male         6593  Hispanic     Widowed       Fully Meets
2       Male         2330  Hispanic     Widowed       Fully Meets
3       Male        58782     Other      Single       Fully Meets
4     Female        33174     Other     Married       Fully Meets

  Current Employee Rating
0                       4
1                       3
2                       4
3                       2
4                       3

[5 rows x 26 columns]

In [20]:
# 5. Print the column names
print("\nColumn Names:", test_df.columns.tolist())

conn.close()

Column Names: ['EmpID', 'FirstName', 'LastName', 'StartDate', 'ExitDate', 'Title', 'Supervisor', 'ADEmail', 'BusinessUnit', 'EmployeeStatus', 'EmployeeType', 'PayZone', 'EmployeeClassificationType', 'TerminationType', 'TerminationDescription', 'DepartmentType', 'Division', 'DOB', 'State', 'JobFunctionDescription', 'GenderCode', 'LocationCode', 'RaceDesc', 'MaritalDesc', 'Performance Score', 'Current Employee Rating']

In [22]:
conn = sqlite3.connect("employees.db")
data.to_sql("employees", conn, if_exists="replace", index=False)
print("CSV data written to SQLite database as 'employees' table.")
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables in DB:", cursor.fetchall())

CSV data written to SQLite database as 'employees' table.
Tables in DB: [('employees',)]

In [23]:
conn.close()

In [24]:

conn = sqlite3.connect("employees.db")
cursor = conn.cursor()

# Get column names from the table
cursor.execute("PRAGMA table_info(employees);")
columns = [col[1] for col in cursor.fetchall()]

print(columns)

['EmpID', 'FirstName', 'LastName', 'StartDate', 'ExitDate', 'Title', 'Supervisor', 'ADEmail', 'BusinessUnit', 'EmployeeStatus', 'EmployeeType', 'PayZone', 'EmployeeClassificationType', 'TerminationType', 'TerminationDescription', 'DepartmentType', 'Division', 'DOB', 'State', 'JobFunctionDescription', 'GenderCode', 'LocationCode', 'RaceDesc', 'MaritalDesc', 'Performance Score', 'Current Employee Rating']